@tailwind base;
@tailwind components;
@tailwind utilities;


.animate-bounce {
  animation: bounce 2s infinite;
}
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

/* Move pagination bullets below the slides */
.swiper-pagination {
  bottom: 0 !important;       /* Moves pagination to bottom of Swiper */
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: 16rem;           /* Adds spacing below cards */
}

/* Customize bullet colors */
.swiper-pagination-bullet {
  background-color: #3c405b;  /* Light gray */
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background-color: #222be9;  /* Your theme color */
  opacity: 1;
}

/* ✅ Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* ✅ Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
